@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&display=swap');

html, body {
    height: 100% !important;
    width: 100% !important;
}

body{
    background-image: url('./background.gif');
    background-repeat: repeat;
    background-size: 40%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-family: 'Signika' !important;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 3rem;
    color: white;
    text-shadow: 0px 0px 4px black;
}

.btn-cvv{
    font-family: 'Signika' !important;
    font-weight: 900;
    font-size: 2rem;
    margin-top: 3rem;
    color: white;
    text-shadow: 0px 0px 4px black;

    border-radius: 4rem;
    padding: 25px;  
    border: 5px solid #FFE81F;
    transition: 2s;
    cursor: pointer;
}

.btn-cvv:hover{
    transition: 2s;
    border: 5px solid #915f02;
}

.card{
    font-family: 'Signika' !important;
    width: 30%;
    height: 35%;
    min-height: 240px;
    border-radius: 4rem;
    padding: 25px;  
    border: 5px solid #FFE81F;
    display: flex;
    flex-flow: column;
}

.form-cvv{
    display: flex;
    flex-direction: column;
}

.targetBack{
    background-color: white;
    width: 100%;
    border-radius: 0.5rem;
    height: 40px;
    margin-bottom: 30px;
}

.card h1{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.chip{
    background: #FFB200;
    width: 50px;
    height: 50px;
    border-radius: 1rem;
}

.header-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-card img{
    width: 50px;
}

.form-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.form-one{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-card{
    display: grid;
}

.input-card input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

.input-card label{
    color: white;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.input-card input{
    font-family: 'Signika' !important;
    background: transparent;
    border: none;
    user-select: none;
    color: white;
}
.form-cvv p{
    margin-bottom: 4rem;
    color: white;
}

.cvvCard{
    align-self: end;
}

.cvvCard label{
    justify-self: end;
}

.cvvCard input{
    text-align: end;
}

.input-card input:focus{
    background: transparent;
    border: none;
    user-select: none;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.title{

}